/* Osnovni reset stilova */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Stil zaokruženih ivica */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Stilovi za forme */
form {
    margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffb6c1; /* Tamnija roza za liste */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    border-radius: 15px;
}

/* Dugme za promenu boje */
.color-choice {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.color-choice button {
    margin-top: 5px;
}
